name: Publish Package to npmjs
on:
  workflow_dispatch
  
jobs:
  build:
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '16.x'
          registry-url: 'https://registry.npmjs.org'
      - uses: step-security/wait-for-secrets@main
        id: get-otp
        with:
          slack-webhook-url: ${{ secrets.SLACK_WEBHOOK_URL }}
          secrets: |
            AWS_ACCESS_KEY_ID: 
              name: 'AWS access key'
              description: 'this is the access key'
            AWS_SECRET_ACCESS_KEY:
              name: 'AWS secret access key'
              description: 'this is the secret'
      - run: | 
          echo ${{ steps.get-otp.outputs.AWS_ACCESS_KEY_ID }}
          echo ${{ steps.get-otp.outputs.AWS_SECRET_ACCESS_KEY }}
        
